{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"
        integrity="sha512-/12X9/KcvG3Bz7zWZ4zYyURhM7K8Dv9XkX1FRA3yF8+2x/ZnpbFRnS3aUpRpIrw38xxiE6OeDucwHqmbwwRMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Editar Facultad</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imagenes/logo.png' %}">
</head>

<style>
    body {
        background-color: #0d6efd;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        max-width: 800px;
        width: 100%;
        background-color: #c5e8ef;
        border-radius: 10px;
        padding: 20px;
        margin: 10px; /* Agrega un pequeño espacio en los bordes */
    }

    .alert-message {
        position: fixed;
        top: 50%;
        left: 20px; /* Ajustar la distancia del mensaje al borde izquierdo */
        transform: translateY(-50%);
        padding: 10px;
        background-color: #f8d7da; /* Color de fondo para los mensajes de error */
        border-radius: 10px;
        width: 300px; /* Ancho del mensaje de alerta */
        z-index: 9999;
        opacity: 1;
        transition: opacity 1s ease; /* Transición de opacidad */
    }

    .messages li {
        margin: 5px 0;
        list-style: none;
    }

    .alert-message.hide {
        display: none;
    }
</style>

<body>
    {% block content %}
    <div class="container">
        <h2 class="mb-4">Editar Bloque</h2>
        <form id="editarBloqueForm" method="post" enctype="multipart/form-data"
            action="{% url 'editar_bloque' bloque_id=bloque.id %}">
            {% csrf_token %}
            <input type="hidden" name="editar_bloque_id" value="{{ bloque.id }}">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" required value="{{ bloque.codigo }}">
                    </div>
                    <div class="mb-3">
                        <label for="latitud" class="form-label">Latitud:</label>
                        <input type="text" class="form-control" id="latitud" name="latitud" required value="{{ bloque.latitud }}">
                    </div>
                    <div class="mb-3">
                        <label for="longitud" class="form-label">Longitud:</label>
                        <input type="text" class="form-control" id="longitud" name="longitud" required value="{{ bloque.longitud }}">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required value="{{ bloque.descripcion }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="informacion" class="form-label">Información:</label>
                        <input type="text" class="form-control" id="informacion" name="informacion" required value="{{ bloque.informacion }}">
                    </div>
                    <div class="mb-3">
                        <label for="valoracion" class="form-label">Valoración:</label>
                        <input type="number" class="form-control" id="valoracion" name="valoracion" value="{{ bloque.valoracion }}">
                    </div>
                    <div class="mb-3">
                        <label for="facultad" class="form-label">Facultad:</label>
                        <select class="form-select" id="facultad" name="facultad" required>
                            {% if bloque.facultad %}
                            <option value="{{ bloque.facultad.id }}" selected>{{ bloque.facultad.nombre }}</option>
                            {% else %}
                            <option value="" selected>Seleccione una facultad</option>
                            {% endif %}
                            {% for facultad in facultades %}
                            <option value="{{ facultad.id }}" {% if bloque.facultad and bloque.facultad.id == facultad.id %} selected {% endif %}>{{ facultad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">Foto:</label>
                        <input type="text" class="form-control" id="foto" name="foto" value="{{ foto_url }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="foto" class="form-label">Cambiar Foto:</label>
                        <input type="file" class="form-control" id="foto" name="foto">
                    </div>
                </div>
            </div>
            {% if messages %}
                <div class="modal fade" id="modalAlert" tabindex="-1" aria-labelledby="modalAlertLabel" aria-hidden="true" data-message="{{ messages }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalAlertLabel">Mensaje de Alerta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-group">
                          {% for message in messages %}
                          <li class="list-group-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            <div class="modal-footer">
                <a href="{% url 'gestionar_bloques_puntos' %}" class="btn btn-secondary" id="cancelarEditar">Cancelar</a>
                <button type="submit" class="btn btn-primary" id="actualizarBloque">Guardar cambios</button>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modalAlert" tabindex="-1" aria-labelledby="modalAlertLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAlertLabel">Mensaje de Alerta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="modalAlertMessage"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Obtener el elemento de la ventana modal y el mensaje de alerta
        const modalAlert = document.getElementById("modalAlert");
        const modalAlertMessage = document.getElementById("modalAlertMessage");

        // Verificar si hay un mensaje de alerta
        const message = modalAlert.getAttribute("data-message");
        if (message) {
          modalAlertMessage.textContent = message;
          $('#modalAlert').modal('show'); // Mostrar la ventana modal
        }
      });
    </script>
</body>

</html>