
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionar Bloques y Puntos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>
  <style>
    body {
      background-color: #cff4fc;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Gestionar Bloques y Puntos</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="padding-right: 2em;">
          <a class="nav-link" href="#">Página de Inicio</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid" style="padding-left: 3em;">
    <div class="row">
      <!-- Contenedor de la lista de objetos (parte izquierda) -->
      <div class="col-lg-6 col-md-12" style="padding-bottom: 3em;">
        <div class="divtitulo">
          <h2>Bloques</h2>
        </div>

        <!-- Nuevo formulario de búsqueda para Bloques -->
        <form id="formBuscarBloques" class="form-inline mb-3" style="display: flex;" action="{% url 'buscar_bloques' %}" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar Bloques" aria-label="Buscar Bloques" name="search_text">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 2em;">Buscar</button>
        </form>

        <ul class="list-group" id="listaBloques">
          <!-- Elementos de la lista de Bloques -->
          {% for bloque in bloques %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ bloque.codigo }}
                <a href="{% url 'editar_bloque' bloque_id=bloque.id %}" class="btn btn-primary btn-editar-bloque">Editar <i class="fas fa-edit"></i></a>
            </li>
          {% endfor %}
        </ul>
      </div>
              <!-- Contenedor de la lista de puntos (parte derecha) -->
        <div class="col-lg-6 col-md-12" style="padding-bottom: 3em;">
          <div class="divtitulo">
            <h2>Puntos</h2>
          </div>

          <!-- Nuevo formulario de búsqueda para Puntos -->
          <form id="formBuscarPuntos" class="form-inline mb-3" style="display: flex;" action="{% url 'buscar_puntos' %}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Puntos" aria-label="Buscar Puntos" name="search_text_puntos">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 2em;">Buscar</button>
          </form>

          <ul class="list-group" id="listaPuntos">
            <!-- Elementos de la lista de Puntos -->
            {% for punto in puntos %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ punto.codigo }}
                  <a href="{% url 'editar_punto' punto_id=punto.id %}" class="btn btn-primary btn-editar-punto">Editar <i class="fas fa-edit"></i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>




  <!-- Modal para editar bloques -->
  <div class="modal fade" id="modalEditarBloque" tabindex="-1" aria-labelledby="modalEditarBloqueLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarBloqueLabel">Editar Bloque</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="bloqueForm" method="post" enctype="multipart/form-data">
            <!-- Campos del formulario para editar bloques -->
            <div class="form-group">
              <label for="codigoBloque">Código:</label>
              <input type="text" class="form-control" id="codigoBloque" name="codigoBloque">
            </div>
            <div class="form-group">
              <label for="latitudBloque">Latitud:</label>
              <input type="text" class="form-control" id="latitudBloque" name="latitudBloque">
            </div>
            <div class="form-group">
              <label for="longitudBloque">Longitud:</label>
              <input type="text" class="form-control" id="longitudBloque" name="longitudBloque">
            </div>
            <div class="form-group">
              <label for="descripcionBloque">Descripción:</label>
              <input type="text" class="form-control" id="descripcionBloque" name="descripcionBloque">
            </div>
            <div class="form-group">
              <label for="informacionBloque">Información:</label>
              <input type="text" class="form-control" id="informacionBloque" name="informacionBloque">
            </div>
            <div class="form-group">
              <label for="valoracionBloque">Valoración:</label>
              <input type="number" class="form-control" id="valoracionBloque" name="valoracionBloque">
            </div>
            <div class="form-group">
              <label for="fotoBloque">Foto:</label>
              <input type="file" class="form-control" id="fotoBloque" name="fotoBloque">
            </div>
            <div class="form-group">
              <label for="facultadBloque">Facultad:</label>
              <select class="form-control" id="facultadBloque" name="facultadBloque">
                <!-- Agrega opciones para la facultad -->
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancelarEdicion" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="guardarBloque">Guardar</button>
        </div>
      </div>
    </div>
  </div>
        {% if messages %}
        <div class="modal fade" id="modalAlert" tabindex="-1" aria-labelledby="modalAlertLabel" aria-hidden="true" data-message="{{ messages }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalAlertLabel">Mensaje de Alerta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  {% for message in messages %}
                  <li class="list-group-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

  <!-- Modal para editar puntos -->
  <div class="modal fade" id="modalEditarPunto" tabindex="-1" aria-labelledby="modalEditarPuntoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarPuntoLabel">Editar Punto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="puntoForm" method="post">
            <!-- Campos del formulario para editar puntos -->
            <div class="form-group">
              <label for="codigoPunto">Código:</label>
              <input type="text" class="form-control" id="codigoPunto" name="codigoPunto">
            </div>
            <div class="form-group">
              <label for="latitudPunto">Latitud:</label>
              <input type="text" class="form-control" id="latitudPunto" name="latitudPunto">
            </div>
            <div class="form-group">
              <label for="longitudPunto">Longitud:</label>
              <input type="text" class="form-control" id="longitudPunto" name="longitudPunto">
            </div>
            <div class="form-group">
              <label for="descripcionPunto">Descripción:</label>
              <input type="text" class="form-control" id="descripcionPunto" name="descripcionPunto">
            </div>
            <div class="form-group">
              <label for="facultadPunto">Facultad:</label>
              <select class="form-control" id="facultadPunto" name="facultadPunto">
                <!-- Agrega opciones para la facultad -->
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancelarEdicion" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="guardarPunto">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAlert" tabindex="-1" aria-labelledby="modalAlertLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAlertLabel">Mensaje de Alerta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modalAlertMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Obtener el formulario de búsqueda y la lista de bloques
      const formBuscarBloques = document.getElementById("formBuscarBloques");
      const listaBloques = document.getElementById("listaBloques");

      // Agregar un evento submit al formulario de búsqueda de bloques
      formBuscarBloques.addEventListener("submit", function (event) {
        event.preventDefault(); // Evitar que el formulario se envíe por defecto
        const searchText = document.querySelector("[name='search_text']").value; // Obtener el texto de búsqueda

        // Hacer una petición AJAX al servidor para obtener la lista de bloques actualizada
        fetch(`/buscar_bloques/?search_text=${searchText}`, {
          method: "GET",
          headers: {
            "X-Requested-With": "XMLHttpRequest" // Indicar que es una petición AJAX
          }
        })
        .then(response => response.text()) // Convertir la respuesta en texto
        .then(data => {
          // Actualizar la lista de bloques con los resultados obtenidos
          listaBloques.innerHTML = data;
        })
        .catch(error => {
          console.error("Error al buscar bloques:", error);
        });
      });
    });
  </script>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    // Obtener el formulario de búsqueda y la lista de puntos
    const formBuscarPuntos = document.getElementById("formBuscarPuntos");
    const listaPuntos = document.getElementById("listaPuntos");

    // Agregar un evento submit al formulario de búsqueda de puntos
    formBuscarPuntos.addEventListener("submit", function (event) {
      event.preventDefault(); // Evitar que el formulario se envíe por defecto
      const searchText = document.querySelector("[name='search_text_puntos']").value; // Obtener el texto de búsqueda

      // Hacer una petición AJAX al servidor para obtener la lista de puntos actualizada
      fetch(`/buscar_puntos/?search_text=${searchText}`, {
        method: "GET",
        headers: {
          "X-Requested-With": "XMLHttpRequest" // Indicar que es una petición AJAX
        }
      })
      .then(response => response.text()) // Convertir la respuesta en texto
      .then(data => {
        // Actualizar la lista de puntos con los resultados obtenidos
        listaPuntos.innerHTML = data;
      })
      .catch(error => {
        console.error("Error al buscar Puntos:", error);
      });
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Obtener el elemento de la ventana modal y el mensaje de alerta
    const modalAlert = document.getElementById("modalAlert");
    const modalAlertMessage = document.getElementById("modalAlertMessage");

    // Verificar si hay un mensaje de alerta
    const message = modalAlert.getAttribute("data-message");
    if (message) {
      modalAlertMessage.textContent = message;
      $('#modalAlert').modal('show'); // Mostrar la ventana modal
    }
  });
</script>
</body>
</html>