{% load static %}
<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="#"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <!-- Hoja de Estilos de Sweet Alert -->
</head>

<body>
<div id="inicio">
    <h2>Bienvenido</h2>
    <p>¡Has iniciado sesión exitosamente!</p>

    <!-- Botón de cierre de sesión -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
</div>


{% if messages %}
    <div class="modal fade" id="modalAlertInicio" tabindex="-1" aria-labelledby="modalAlertLabelInicio"
         aria-hidden="true"
         data-message="{{ messages }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlertLabelInicio">Mensaje de Alerta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                            <li class="list-group-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtener el elemento de la ventana modal y el mensaje de alerta
        const modalAlert = document.getElementById("modalAlertInicio");
        const modalAlertMessage = document.getElementById("modalAlertMessage");

        // Verificar si hay un mensaje de alerta
        const message = modalAlert.getAttribute("data-message");
        if (message) {
            modalAlertMessage.textContent = message;
            $('#modalAlertInicio').modal('show'); // Mostrar el modalAlertInicio
        }
    });
</script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>