body {

    background-image: url("imagenes/Fondo.jpg");
    background-size: cover;
    background-position: center;
    /* Otros estilos adicionales */
  }

/* Estilos pagina admin*/
#pag-inicio {
    margin: 0;
        padding: 0;
        background: linear-gradient(to right, #91da55, #59e9a1);
}

/* Estilos para la caja del Login */
#login .container #login-row #login-column #login-box {
    /*Margen Superior */
    margin-top: 40px;
    /*Maximo de Ancho */
    max-width: 400px;
    /*Altura de Caja */
    height: 450px;
    /*Estilos para las sombras de la caja */
    box-shadow: 0px 0px 6px 6px #1783e7;
    /*Bordes redondeados  */
    border-radius: 15px;
    /* Centrar */
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para el texto del cuadro no funciono con Bootstrap :( */
label[for="password"] {
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
label[for="usuario"] {
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
/* Estilos para el campo de texto "usuario" */
input#usuario {
    width: 320px;
    height: 35px;
    margin: 0 auto;
}

/* Estilos para el campo de texto "password" */
input#password {
    width: 320px;
    height: 35px;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  